@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);* {
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
}

#logo{
  width: 100%;
}

/*scroll styles*/
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #a0a7ac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #697477; 
}

/*end scroll styles*/

/*estructura de la vista principal*/
.main-container{
    display: grid;
    grid-template-columns : 300px auto;
}
.option{
  width: 70px;
}
/*fin de estructura de la vista principal*/

table{
    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
  }
  
  th,td{
    padding: 20px;
    border-spacing: 10px;
  }
  
  table tbody tr{
    border:solid black 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 5px; 
  }
  
  thead{
    background-color: #632432;
    border-bottom: solid 5px #AF597C;
    color: white;
  }
  
  tbody:nth-child(even){
    background: #ddd; 
  }  
  
  tr:hover td{
    background-color: grey;
    color: white;
  }.login-container{
    height: 100vh;
}.appbar-container{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    padding: 0 20px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.appbar-title{
    margin-bottom: 0 !important;
    font-size: 20px;
}
.navigation-component{
    padding-top: 1px 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}



/*
    DEMO STYLE
*/

/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

img{
    background-color: #23282e;
    display: block;
    padding: 10px;
    font-size: 16px;
    width: 250px;
    height: 250px; 
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/*.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #864848;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .design {
    font-family: 'Poppins', cursive;
    height: 130px;
    display: flex;
    font-size: 1.1em;
    margin: 5px;
    text-align: center;align-items: center;
  }

#sidebar .sidebar-header h5 {
    background-color: #23282e;
    font-size: 16px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    background: #864848;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.0em;
    display: block;
}
#sidebar ul li a i{
    color: black;
    padding-right: 10px;
}

#sidebar ul li a:hover {
    color: #864848;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #864848;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #864848;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #864848;
}

a.article,
a.article:hover {
    background: #864848 !important;
    color: #fff !important;
}*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/*@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}*/

