@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);* {
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
}

#logo{
  width: 100%;
}

/*scroll styles*/
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #a0a7ac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #697477; 
}

/*end scroll styles*/

/*estructura de la vista principal*/
.main-container{
    display: grid;
    grid-template-columns : 300px auto;
}
.option{
  width: 70px;
}
/*fin de estructura de la vista principal*/

/*table{
    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
  }
  
  th,td{
    padding: 20px;
    border-spacing: 10px;
  }
  
  table tbody tr{
    border:solid black 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 5px; 
  }
  
  thead{
    background-color: #632432;
    border-bottom: solid 5px #AF597C;
    color: white;
  }
  
  tbody:nth-child(even){
    background: #ddd; 
  }  
  
  tr:hover td{
    background-color: grey;
    color: white;
  }*/.login-container{
    height: 100vh;
}.appbar-container{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    padding: 0 20px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.appbar-title{
    margin-bottom: 0 !important;
    font-size: 20px;
}
.left-appbar-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.appbar-menu{
    font-size: 24px;
    margin-right: 12px;
    cursor: pointer;
}
.appbar-title{
    padding-bottom: 3px;
}.navigation-component{
    padding-top: 1px 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    position: absolute;
    display: none;

    width: 100vw;
    height: 100vh;
    z-index: 9;
}
.navigation-menu{
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
}
.navigation-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-header div{
    cursor: pointer;
}
.navigation-icon{
    font-size: 20px;
}
.navigation-title{
    font-size: 18px;
    margin-left: 9px;
}
.navigation-item{
    padding: 10px 0 10px 50px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 15px;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}
.collapse .navigation-item:last-child{
    border-bottom: 0;
}

