* {
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
}

#logo{
  width: 100%;
}

/*scroll styles*/
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #a0a7ac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #697477; 
}

/*end scroll styles*/

/*estructura de la vista principal*/
.main-container{
    display: grid;
    grid-template-columns : 300px auto;
}
.option{
  width: 70px;
}
/*fin de estructura de la vista principal*/

/*inicio de estructura de la tabla*/
body{
  background-color: white;
  font-family: Arial;
}

#main-container{
  margin: 150px auto;
  width: 800px;
}

table{
  background-color: white;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

th,td{
  padding: 20px;
  border-spacing: 15px;
}

table tbody tr{
  border:solid black 1px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 5px; 
}

thead{
  /*background-color: #632432;
  border-bottom: solid 5px #AF597C;*/
  color: black;
}

tbody:nth-child(even){
  background: #EEEEEE;
}  

tr:hover td{
  background-color:#8F8F8F;
  color: white;
}
/*fin de estructura de la tabla*/

.listo:visited{
    background-color:red!important;
}