* {
    margin: 0;
    padding: 0;
}

/*scroll styles*/
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #a0a7ac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #697477; 
}

/*end scroll styles*/